# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride

# ========================
# Xcode
# ========================
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.moved-aside
*.xcscmblueprint

# ========================
# Swift Package Manager
# ========================
.swiftpm/
Packages/
.package.resolved

# ========================
# CocoaPods
# ========================
Pods/
Podfile.lock

# ========================
# Carthage
# ========================
Carthage/
Cartfile.resolved

# ========================
# Fastlane
# ========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# ========================
# Archives
# ========================
*.xcarchive

# ========================
# User Settings
# ========================
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserdatad/
*.xcodeproj/project.xcuserstate

# ========================
# App build output
# ========================
*.ipa
*.dSYM.zip
*.dSYM

# ========================
# Others
# ========================
*.log
*.swp
*.lock
*.env