name: Docker Build

on:
  workflow_run:
    workflows:
      - Django Tests
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' && contains(fromJSON('["main","master","google-cloud"]'), github.event.workflow_run.head_branch) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Dockerfile
          push: false
          tags: mobileid-backend:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
