name: Docker Build

on:
  push:
    branches: ["main", "master", "google-cloud"]
    paths:
      - "src/**"
      - "docker-compose.yml"
      - ".github/workflows/docker-build.yml"
  pull_request:
    branches: ["main", "master", "google-cloud"]
    paths:
      - "src/**"
      - "docker-compose.yml"
      - ".github/workflows/docker-build.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Dockerfile
          push: false
          tags: mobileid-backend:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
