name: Lint Ruff

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  ruff:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      
      - name: Install dependencies
        working-directory: ./src
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      
      - name: Run ruff
        working-directory: ./src
        run: ruff check .

