name: Lint Black

on:
  push:
    branches: ["**"]
    paths:
      - "src/**"
      - ".github/workflows/lint_black.yml"
  pull_request:
    branches: ["**"]
    paths:
      - "src/**"
      - ".github/workflows/lint_black.yml"

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        working-directory: ./src
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Run black
        working-directory: ./src
        run: black --check .
