name: Lint Flake8

on:
  push:
    branches: ["**"]
    paths:
      - "src/**"
      - "src/.flake8"
      - ".github/workflows/lint_flake8.yml"
  pull_request:
    branches: ["**"]
    paths:
      - "src/**"
      - "src/.flake8"
      - ".github/workflows/lint_flake8.yml"

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        working-directory: ./src
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8
        working-directory: ./src
        run: flake8 .
